<!doctype html>
<html>
<head>
    <title>Add New Student</title>
</head>
<body>
    <form action="/student-added" method = "POST">
        <label>Please enter student's first name:
            <input type="text" name="firstname">
        </label>
        <br>
        <br>
        <label>Please enter student's last name:
            <input type="text" name="lastname">
        </label>
        <br>
        <br>
        <label>GitHub Info:
            <input type="text" name="github">
        </label>
        <br>
        <br>
        <input type="submit" value="Add student">
        <br>
        <br>
    </form>
</body>
</html>